<html>
  <p-toast></p-toast>
  <body>
    <div class="d-flex flex-column align-items-center mt-4">
      <img src="/assets/Logo.png" />
      <h2>Set my new password</h2>
      <div
        *ngIf="loading"
        class="d-flex flex-column align-items-center justify-content-center mt-4"
      >
        <p-progressSpinner></p-progressSpinner>
      </div>
      <div
        *ngIf="!loading && success"
        class="d-flex flex-column align-items-center justify-content-center mt-4"
      >
        <img src="/assets/GreenTick.png" />
        <div class="col-12 d-flex flex-column align-items-center mt-2">
          <label>Your password has been reset successfully.</label>
          <label> You can now login with your new password </label>
          <a routerLink="/" class="mt-3">Go to login page</a>
        </div>
      </div>
      <div
        *ngIf="!loading && !success"
        class="d-flex flex-column align-items-center"
      >
        <form [formGroup]="resetPasswordForm">
          <span class="p-float-label floating-field">
            <p-password
              id="password"
              [toggleMask]="true"
              formControlName="password"
            ></p-password>
            <label for="password">Password</label>
          </span>
          <span class="p-float-label floating-field">
            <p-password
              id="confirmPassword"
              [toggleMask]="true"
              [feedback]="false"
              formControlName="confirmPassword"
            ></p-password>
            <label for="confirmPassword">Confirm password</label>
          </span>
          <small
            *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['mismatch']"
            id="username-help"
            class="p-error"
            >The passwords are not the same.</small
          >
        </form>
        <button
          pButton
          class="p-button-sm mt-3 d-block"
          type="button"
          label="Reset password"
          [disabled]="!resetPasswordForm.valid"
          (click)="resetPasswordFinish()"
        ></button>
      </div>
    </div>
  </body>
</html>
