<html>
  <p-toast></p-toast>
  <body>
    <div class="d-flex flex-column align-items-center mt-4">
      <img src="/assets/Logo.png" />
      <h2>Reset my password</h2>
      <div
        *ngIf="loading"
        class="d-flex flex-column align-items-center justify-content-center mt-4"
      >
        <p-progressSpinner></p-progressSpinner>
      </div>
      <div
        *ngIf="!loading && sentResetRequest"
        class="d-flex flex-column align-items-center justify-content-center mt-4"
      >
        <img src="/assets/EmailSent.gif" />
        <div class="col-12 d-flex flex-column align-items-center mt-2">
          <label>Your request has been processed.</label>
          <label>
            You should have received an email with a link to reset your password
          </label>
          <a routerLink="/" class="mt-3">Go back</a>
        </div>
      </div>
      <div
        *ngIf="!loading && !sentResetRequest"
        class="d-flex flex-column align-items-center"
      >
        <form [formGroup]="resetPasswordForm">
          <span class="p-float-label floating-field">
            <input
              id="login"
              type="text"
              class="w-100"
              pInputText
              formControlName="login"
            />
            <label for="login">Username</label>
          </span>
          <span class="p-float-label floating-field">
            <input
              id="email"
              class="w-100"
              type="text"
              pInputText
              formControlName="email"
            />
            <label for="email">Email</label>
          </span>
        </form>
        <button
          pButton
          class="p-button-sm mt-3 d-block"
          type="button"
          label="Send"
          [disabled]="!resetPasswordForm.valid"
          (click)="resetPasswordInit()"
        ></button>
        <a routerLink="/" class="mt-3">Go back</a>
      </div>
    </div>
  </body>
</html>
