<p-toast></p-toast>
<mymsn-colored-div>
  <div class="text-center mb-5">
    <img
      src="/assets/images/Logo.png"
      alt="MyMsn Logo"
      height="50"
      class="mb-3"
    />
    <div class="text-900 text-3xl font-medium mb-3">MyMsn</div>
    <span class="text-600 font-medium">Forgotten password</span>
  </div>

  <div
    *ngIf="sentResetRequest"
    class="d-flex flex-column align-items-center justify-content-center mt-4"
  >
    <img src="/assets/images/EmailSent.gif" />
    <div class="col-12 d-flex flex-column align-items-center mt-2">
      <label>Your request has been processed.</label>
      <label>
        You should have received an email with a link to reset your password
      </label>
    </div>
    <div class="flex align-items-center justify-content-between mt-5 gap-5">
      <a
        class="font-medium no-underline text-right cursor-pointer"
        style="color: var(--primary-color)"
        routerLink="/"
        >Sign in</a
      >
    </div>
  </div>
  <div *ngIf="!sentResetRequest">
    <form [formGroup]="resetPasswordForm">
      <label for="login" class="block text-900 text-xl font-medium mb-2"
        >Username</label
      >
      <input
        id="login"
        type="text"
        placeholder="Username"
        pInputText
        class="w-full md:w-30rem mb-5"
        style="padding: 1rem"
        formControlName="login"
      />
      <label for="email" class="block text-900 text-xl font-medium mb-2"
        >Email</label
      >
      <input
        id="login"
        placeholder="Email"
        pInputText
        class="w-full md:w-30rem mb-5"
        style="padding: 1rem"
        formControlName="email"
      />
    </form>
    <div class="flex align-items-center justify-content-between mb-5 gap-5">
      <a
        class="font-medium no-underline text-right cursor-pointer"
        style="color: var(--primary-color)"
        routerLink="/"
        >Sign in</a
      >
    </div>
    <button
      pButton
      pRipple
      label="Send"
      [disabled]="resetPasswordForm.invalid"
      [loading]="loading"
      (click)="resetPasswordInit()"
      class="w-full p-3 text-xl"
    ></button>
  </div>
</mymsn-colored-div>
