<html>
  <p-toast></p-toast>
  <body>
    <div class="d-flex flex-column align-items-center mt-4">
      <img src="/assets/Logo.png" />
      <h2>MyMSN</h2>
      <form [formGroup]="loginForm">
        <span class="p-float-label floating-field">
          <input
            id="login"
            class="w-100"
            type="text"
            pInputText
            formControlName="login"
          />
          <label for="login">Email or Username</label>
        </span>
        <span class="p-float-label floating-field">
          <input
            id="password"
            class="w-100"
            type="password"
            pInputText
            formControlName="password"
          />
          <label for="password">Password</label>
        </span>
      </form>
      <button
        pButton
        class="p-button-sm mt-3"
        type="button"
        label="Login"
        (click)="login()"
      ></button>
      <div class="d-flex mt-2">
        <div class="me-3"><a routerLink="/register">Register</a></div>
        <div class="">
          <a routerLink="/reset-password/init">Password forgotten ?</a>
        </div>
      </div>
    </div>
  </body>
</html>
