/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@fontsource/roboto/index.css";

.floating-field {
  margin-top: 30px;
}

html {
  font-family: "Roboto";
}

h2,
label {
  color: #3b82f6;
}
